# Ignore config file with credentials
/Frontend/utils/js/config.js

# Ignore Yuwei's Command file
yuwei_commands.md

# Ignore lambda python layer
/Lambda/lambda_layer/python

# Common files to ignore
node_modules/
.env
.DS_Store
*.log